---
// Component Imports
import MainLayout from "../../layouts/MainLayout.astro";
import Home from "../../components/HomeComponent";
---

<MainLayout>
  <section class="product-details p-5">
    <div class="conntainer-xxl">
      <div class="row"></div>
    </div>
  </section>
</MainLayout>
